<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="album.component.css" />
  </head>

  <body>
    <header>
      <div class="song_side">
        <div class="popular_song">
          <div class="h4">
            <h4>Popular Song</h4>
          </div>
          <div class="pop_song">
            <li class="songItem">
              <div class="img_play">
                <img src="../../assets/img/1.jpg" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="7"></i>
              </div>
              <h5>
                On My Way
                <br />
                <div class="subtitle">Alan Walker</div>
              </h5>
            </li>
            <li class="songItem">
              <div class="img_play">
                <img src="../../assets/img/2.jpg" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="8"></i>
                <!-- change All id  -->
              </div>
              <h5>
                Faded
                <br />
                <div class="subtitle">Alan Walker</div>
              </h5>
            </li>
            <li class="songItem">
              <div class="img_play">
                <img src="../../assets/img/3.jpg" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="9"></i>
              </div>
              <h5>
                let me love you
                <br />
                <div class="subtitle">Justin Bieber</div>
              </h5>
            </li>
            <li class="songItem">
              <div class="img_play">
                <img src="../../assets/img/4.jpg" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="10"></i>
              </div>
              <h5>
                Night changes
                <br />
                <div class="subtitle">Zayn Malik</div>
              </h5>
            </li>
            <li class="songItem">
              <div class="img_play">
                <img src="../../assets/img/7.jpg" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="11"></i>
              </div>
              <h5>
                Tamasha
                <br />
                <div class="subtitle">Arjit Singh</div>
              </h5>
            </li>
            <li class="songItem">
              <div class="img_play">
                <img src="../../assets/img/10.jpg" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="12"></i>
              </div>
              <h5>
                Dilbar Dilbar
                <br />
                <div class="subtitle">Arjit Singh</div>
              </h5>
            </li>
            <li class="songItem">
              <div class="img_play">
                <img src="../../assets/img/14.jpg" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="13"></i>
              </div>
              <h5>
                Vaste
                <br />
                <div class="subtitle">Dhvani</div>
              </h5>
            </li>
            <li class="songItem">
              <div class="img_play">
                <img src="../../assets/img/15.jpg" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="14"></i>
              </div>
              <h5>
                Lut Gaye
                <br />
                <div class="subtitle">Jubin Nautiyal</div>
              </h5>
            </li>
            <li class="songItem">
              <div class="img_play">
                <img src="../../assets/img/12.jpg" alt="alan" />
                <i class="bi playListPlay bi-play-circle-fill" id="15"></i>
              </div>
              <h5>
                Putt
                <br />
                <div class="subtitle">Diljit Dosanjh</div>
              </h5>
            </li>
          </div>
        </div>
        <div class="popular_artists">
          <div class="h4">
            <h4>Popular Artists</h4>
          </div>
          <div class="item">
            <div class="box">
              <img
                src="../../assets/img/arjit.jpg"
                alt="Arjit Singh"
                title="Arjit Singh"
              />
            </div>
            <div class="box">
              <img
                src="../../assets/img/alan.jpg"
                alt="Alan Walker"
                title="Alan Walker"
              />
            </div>
            <div class="box">
              <img
                src="../../assets/img/atif.jpg"
                alt="Atif Aslam"
                title="Atif Aslam"
              />
            </div>
            <div class="box">
              <img
                src="../../assets/img/guru.jpg"
                alt="Guru RAndawa"
                title="Guru Randawa"
              />
            </div>
            <div class="box">
              <img
                src="../../assets/img/dhvani.jpg"
                alt="Dhvani"
                title="Dhvani"
              />
            </div>
            <div class="box">
              <img
                src="../../assets/img/Diljit_Dosanjh.jpg"
                alt="Diljit Dosanjh"
                title="Diljit Dosanjh"
              />
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
