<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soundwave</title>
    <link rel="stylesheet" href="home.component.css" />
  </head>
  <body>
    <div>
      <img
        src="../../assets/images/image-from-rawpixel-id-6249621-original.png"
        class="main-img"
      />
    </div>

    <div class="main-text">
      <h1>Feel The Music!</h1>
      <h4>Stream Over 2000 Songs with one click</h4>
      <a href="/signup"><button>Join Now</button></a>
    </div>

    <div class="home-page-circle-1"></div>
    <div class="home-page-circle-2"></div>
  </body>
</html>
